<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SchoolNet</title>
</head>
<body>

    <form action="/status" method="GET">
        <input type="text" name="studentId">
        <input type="submit" value="Ok">
    </form>
    <% if(student) { %>
        <p>Name: <%= student.name %></p>
        <p>Average: <%= student.average %></p>
        <p>Status: <%= student.status %></p>
    <% } else if(submitted) { %>
        <p>Student not found!</p>
    <% } %>
</body>
</html>